@import url('https://fonts.googleapis.com/css2?family=Genos:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500;600;700&family=Play:wght@400;700&display=swap');

body{
    font-family: 'Play', sans-serif;
    font-size: 1.2rem;
}

.banner {
    background: url(./img/lamborghini-aventador-yellow-sports-car-etu03i01ydtwt3jm.webp) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: rgb(245, 245, 245);
    text-shadow: -1px -2px 1px rgb(0, 0, 0);
    height: 100vh;
}


.container i{
    font-size: 5rem;
    background-color: rgb(255, 198, 9);
    color: white;
    padding: 2rem;
    border-radius: 30%;
    min-width: 40%;
    cursor: pointer;
}

.container i:hover{
    background-color: black;
    color: rgb(255, 198, 9);
    transition: all 1s;
    
}


.about-us-text{
    flex: 1
}

.about-us-img{
    flex: 1;
}

.about-us-img img{
    border-radius: 5%;
}

.avatar{
    border: 4px solid darkblue;
    border-radius: 30%;
}

.container .fontlar i{
    font-size: 20px;
    background-color: #333333;
    color: white;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    margin: 3px;
}

#ContactUs {
    background-image: url(../img/map.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
  }
  #ContactUs textarea {
    resize: none;
  }
  
  .team img {
    width: 50%;
    border-radius: 50%;
    border: 10px solid #cccccc;
  }

  .card img{
    max-height: 250px;
    font-size: 1rem;
  }

  .card-title{
    font-weight: bold;
  }

#map{
    margin: 50px auto;
    width: 100%;
}

.logo-mer{
    margin-left: 60px;
}